$body-color: #374a59;
$heading-color: #081f32;
$additional-color: #6e798c;

$md-tablet-landscape: 1024px;
$md-tablet-portrait: 768px;
$md-mobile: 414px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f6f7fa;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}
.article {
  display: flex;
  margin: 60px 0;

  font-family: 'Open Sans', sans-serif;
  font-size: 18px;

  border-radius: 16px;
  overflow: hidden;
  background-color: #fff;

  @media (max-width: $md-tablet-landscape) {
    flex-direction: column;
    width: 33%;
    margin: 20px 5px;

    font-size: 13px;
  }
  @media (max-width: $md-tablet-portrait) {
    flex-direction: row;
    width: auto;
    margin: 3px 5px;
  }
  &__list {
    @media (max-width: $md-tablet-landscape) {
      display: flex;
      justify-content: space-between;
      &:first-child {
        margin-left: 10px;
      }
      &:last-child {
        margin-right: 10px;
      }
    }
    @media (max-width: $md-tablet-portrait) {
      flex-direction: column;
      margin: 0;
      &:first-child,
      &:last-child {
        margin: 0;
      }
    }
  }

  &__image {
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    @media (max-width: $md-tablet-landscape) {
      max-width: 100%;
      max-height: 168px;
    }
    @media (max-width: $md-tablet-portrait) {
      max-width: 128px;
      max-height: 128px;
    }

    &_cold {
      background: #d2ebf7;
    }
    &_very-cold {
      background: #bcd1ff;
    }
    &_warm {
      background: linear-gradient(135deg, #f395ba 0%, #fed182 100%);
    }
  }

  &__content {
  }
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 35px;
  @media (max-width: $md-tablet-landscape) {
    padding: 0 25px;
    height: 100%;
  }
  @media (max-width: $md-tablet-portrait) {
    width: 100%;
  }
  &__additional-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;

    color: $additional-color;
    @media (max-width: $md-tablet-landscape) {
      padding: 10px 0;

      font-size: 11px;
    }
    @media (max-width: $md-mobile) {
      font-size: 9px;
    }
  }

  &__group {
    font-weight: 600;
    text-transform: uppercase;
    color: $additional-color;
    text-decoration: none;
  }

  &__date {
  }
  &__main-info {
    text-decoration: none;
  }
  &__header {
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
    line-height: 1.15;
    color: $heading-color;
    @media (max-width: $md-tablet-landscape) {
      font-size: 20px;
    }
    @media (max-width: $md-mobile) {
      font-size: 16px;
    }
  }

  &__text {
    padding-top: 15px;

    line-height: 1.5;
    color: $body-color;
    @media (max-width: $md-tablet-landscape) {
      padding-top: 4px;
    }
    @media (max-width: $md-tablet-portrait) {
      display: none;
    }
  }

  &__author {
    display: flex;
    align-items: center;
    padding-right: 5px;
    @media (max-width: $md-tablet-portrait) {
      display: none;
    }
  }

  &__author-img {
    margin-right: 12px;
    padding-top: 7px;
    @media (max-width: $md-tablet-landscape) {
      margin-right: 10px;
    }
  }
  &__more {
    flex: 1 0 auto;
    text-align: right;
    @media (max-width: $md-tablet-portrait) {
      display: none;
    }
  }
}
.link {
  color: #007ae9;

  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
